/* First and Last website that I am going to build for my socials and archive 
*   @raddski - IG
*   _radski - Discord
*/
.container {
    padding: 0;
    margin: 0;
    min-width: auto;
    max-width: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
}

html{
    font-family: monospace;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 12pt;
    cursor: cell;
    height: -webkit-fill-available;
    
    
}

body {
    display: flex;
    flex-direction: column;
    line-height: 2;
    height: -webkit-fill-available;
}

pre {
    font-size: 12pt;
    font-family: monospace;
    color: white;
    line-height: 1;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

a {
    background-color: transparent;
    color: green;
    
}

a:active, a:hover {
    outline: 0;
}

ul {
    list-style: inside;
}

h2 { 
    font-size: 20pt;
}

    











