/* First and Last website that I am going to build for my socials and archive 
*   @raddski - IG
*   _radski - Discord
*/

html{
    font-family: monospace;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 12pt;
    cursor: cell;
    height: -webkit-fill-available;
    height: 100%;
    
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    line-height: 2;
    padding-left: 400px;
    height: 100vh;
    height: -webkit-fill-available;
    height: 100%;
}

pre {
    font-size: 12pt;
    font-family: monospace;
    color: white;
    line-height: 1;
    text-align: center;
    padding-right: 400px;
    height: 100%;
}

a {
    background-color: transparent;
    color: green;
    
}

a:active, a:hover {
    outline: 0;
}

ul {
    list-style: inside;
}

h2 { 
    font-size: 20pt;
}











